@charset "UTF-8";
#wrap {width:1200px;margin:0 auto;}

#wrap #header {width:100%;height:100px;display:flex;position:relative;z-index:3;}
#wrap #header .left  {width:180px;height:100px;display: flex;}
#wrap #header .left h2 {width: 100%;margin: auto;}
#wrap #header .left h2 a img {width: 100%;}
#wrap #header .right {width:1020px;height:100px;}
#wrap #header .right #nav {width:700px;margin:25px 25px 25px auto;}
#wrap #header .right #nav > ul {width:100%;display:flex;}
#wrap #header .right #nav > ul > li {width:25%;}
#wrap #header .right #nav > ul > li > a {width:100%;background:#fff;display:block;text-align:center;line-height:50px;color:#333;transition:all .3s;}
#wrap #header .right #nav > ul > li > a:hover {background:#0066ad;color:#fff;}
#wrap #header .right #nav > ul > li > a.on    {background:#0066ad;color:#fff;}

/* 서브메뉴 */
#wrap #header .right #nav > ul > li > .sub {width:100%;background:#fff;display:none;}
#wrap #header .right #nav > ul > li > .sub ul {width:100%;}
#wrap #header .right #nav > ul > li > .sub ul li {width:100%;}
#wrap #header .right #nav > ul > li > .sub ul li a {display:block;width:100%;line-height:35px;text-align:center;color:#333;background:#fff;}
#wrap #header .right #nav > ul > li > .sub ul li a:hover {color:#fff;background:#30a3f3;}


#wrap #main {width:100%;position:relative;z-index:2;}
#wrap #main #section1 {width:100%;height:300px;}
#wrap #main #section1 .slide-container {width:100%;position:relative;}
#wrap #main #section1 .slide-container .slide-view {width:100%;position:relative;height: 300px;overflow: hidden;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {width:100%;height:500%;position:relative;margin-top: -300px;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {width:100%;height:300px;background:url() no-repeat 50% -100px;background-size:cover;display: flex;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1 {background-image:url(../img/wedding-img11.jpg);}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2 {background-image:url(../img/wedding-img14.jpg);}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3 {background-image:url(../img/wedding-img15.jpg);}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide1 h2 {font-size:36px;color: #fff;font-weight: 600;text-align: center;line-height: 70px;background: rgba(70,130,150,.3);margin: auto;width: 100%;user-select: none;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide2 h2 {font-size:36px;color: #fff;font-weight: 600;text-align: center;line-height: 70px;background: rgba(150,130,70,.3);margin: auto;width: 100%;user-select: none;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide3 h2 {font-size:36px;color: #fff;font-weight: 600;text-align: center;line-height: 70px;background: rgba(130,70,150,.3);margin: auto;width: 100%;user-select: none;}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide h2 em {font-size:46px;vertical-align: baseline;}






#wrap #main #section2 {width:100%;height:200px;display:flex;background:#fff;}
#wrap #main #section2 .left   {width:33.333%;height:200px;}
#wrap #main #section2 .left  .gap {width:100%;height:100%;position:relative;padding:36px 0 0 0;}
#wrap #main #section2 .left  .gap  button {width:100px;height:35px;border:1px solid #ccc;border-bottom:0;position:absolute;top:2px;border-radius:5px 5px 0 0;}
#wrap #main #section2 .left  .gap  button.notice-btn  {background:#fff;left:10px;z-index:3;cursor:default;}
#wrap #main #section2 .left  .gap  button.gallery-btn {background:#e0e0e0;left:110px;z-index:1;cursor:pointer;transition:all .3s;}
#wrap #main #section2 .left  .gap  button.gallery-btn:hover {background:#f0f0f0;}

#wrap #main #section2 .left  .gap  button.notice-btn.on  {background:#e0e0e0;z-index:1;cursor:pointer;transition:all .3s;}
#wrap #main #section2 .left  .gap  button.notice-btn.on:hover  {background:#f0f0f0;}
#wrap #main #section2 .left  .gap  button.gallery-btn.on {background:#fff;z-index:3;cursor:default;}

#wrap #main #section2 .left  .gap  .notice-box {width:100%;height:164px;border:1px solid #ccc;position:relative;z-index:2;}
#wrap #main #section2 .left  .gap  .notice-box.on {display: none;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap {padding:15px 10px;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap ul {width:100%;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap ul li {width:100%;line-height:33px;padding:0 90px 0 13px;position:relative;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap ul li a {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;width:100%;transition:all .3s;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap ul li a:hover {color:#39c;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap ul li a::before {content:'';display:block;width:3px;height:3px;background:#333;position:absolute;left:0;top:50%;margin-top:-1.5px;}
#wrap #main #section2 .left  .gap  .notice-box .notice-gap ul li span {display:block;font-size:14px;position:absolute;right:0;top:0;}

/* 갤러리 */
#wrap #main #section2 .left  .gap .gallery-box {display: none;width:100%;height:164px;border:1px solid #ccc;position:relative;z-index:2;}
#wrap #main #section2 .left  .gap .gallery-box.on {display: block;}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap {padding: 20px 5px;}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul {width: 100%;display: flex;}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul li {width: 33.333%;}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul li .img-gap {padding: 0 5px;}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul li .img-gap .img-bg {width: 100%;height: 122px;background:url() no-repeat 50% 50%; background-size: cover;border: 1px solid #ccc;border-radius: 10px;}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul li:nth-child(1) .img-gap .img-bg {background-image: url(../img/wedding-img11.jpg);}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul li:nth-child(2) .img-gap .img-bg {background-image: url(../img/wedding-img14.jpg);}
#wrap #main #section2 .left  .gap .gallery-box .gallery-gap ul li:nth-child(3) .img-gap .img-bg {background-image: url(../img/wedding-img15.jpg);}


#wrap #main #section2 .center {width:33.333%;height:200px;}
#wrap #main #section2 .center .gap {width: 100%;height: 100%;padding: 2px 0 0 10px;}
#wrap #main #section2 .center .gap .banner-box {width: 100%;height: 100%;border:1px solid #e0e0e0;}
#wrap #main #section2 .center .gap .banner-box .title {width: 100%;height: 34px;text-align: center;display: flex;background-color: #e0e0e0;}
#wrap #main #section2 .center .gap .banner-box .title h2 {font-size: 18px; font-weight: 700;width: 100%;margin: auto;text-transform: uppercase;}
#wrap #main #section2 .center .gap .banner-box .img-box {width: 100%;height: 164px;}
#wrap #main #section2 .center .gap .banner-box .img-box ul {width: 100%;height: 100%;}
#wrap #main #section2 .center .gap .banner-box .img-box ul li {width: 100%;height: 50%;}
#wrap #main #section2 .center .gap .banner-box .img-box ul li .img-gap {width: 100%;height: 100%;border:1px solid #e0e0e0;}
#wrap #main #section2 .center .gap .banner-box .img-box ul li .img-gap .img-bg {width: 100%;height: 100%;background: url() no-repeat 50% 50%;background-size: cover;display: flex;text-align: center;}
#wrap #main #section2 .center .gap .banner-box .img-box ul li:nth-child(1) .img-gap .img-bg {background-image:url(../img/night-view-2138852_1920.jpg);filter:brightness(80%);transition:all .3s}
#wrap #main #section2 .center .gap .banner-box .img-box ul li:nth-child(2) .img-gap .img-bg {background-image:url(../img/night-view-2138857_1920.jpg);filter:brightness(80%);transition:all .3s}
#wrap #main #section2 .center .gap .banner-box .img-box ul li:hover .img-gap .img-bg {filter:brightness(100%)}
#wrap #main #section2 .center .gap .banner-box .img-box ul li .img-gap .img-bg h3 {font-size: 16px;font-weight: 600;color: #fff;text-align: center;margin: auto 0;width: 100%;}

#wrap #main #section2 .right  {width:33.333%;height:200px;}
#wrap #main #section2 .right .gap {width: 100%;height: 100%;padding: 2px 0 0 10px;}
#wrap #main #section2 .right .gap .link-box {width: 100%;height: 100%;border:1px solid #e0e0e0;}
#wrap #main #section2 .right .gap .link-box .title {width: 100%;height: 34px;text-align: center;display: flex;background-color: #e0e0e0}
#wrap #main #section2 .right .gap .link-box .title h2 {font-size: 18px; font-weight: 700;width: 100%;margin: auto;text-transform: uppercase;}
#wrap #main #section2 .right .gap .link-box .img-box {width: 100%;height: 164px;border:1px solid #e0e0e0;}
#wrap #main #section2 .right .gap .link-box .img-box ul {width: 100%;height: 100%;}
#wrap #main #section2 .right .gap .link-box .img-box ul li {width: 100%;height: 33.333%;}
#wrap #main #section2 .right .gap .link-box .img-box ul li .img-gap {width: 100%;height: 100%;}
#wrap #main #section2 .right .gap .link-box .img-box ul li .img-gap .img-bg {width: 100%;height: 100%;background: url() no-repeat 50% 50%;background-size: cover;display: flex;text-align: center;}
#wrap #main #section2 .right .gap .link-box .img-box ul li:nth-child(1) .img-gap .img-bg {background-image:url(../img/info01_02.jpg);filter:brightness(80%);transition:all .3s}
#wrap #main #section2 .right .gap .link-box .img-box ul li:nth-child(2) .img-gap .img-bg {background-image:url(../img/info02_01.jpg);filter:brightness(80%);transition:all .3s}
#wrap #main #section2 .right .gap .link-box .img-box ul li:nth-child(3) .img-gap .img-bg {background-image:url(../img/info01_07.jpg);filter:brightness(80%);transition:all .3s}
#wrap #main #section2 .right .gap .link-box .img-box ul li:hover .img-gap .img-bg {filter:brightness(100%)}
#wrap #main #section2 .right .gap .link-box .img-box ul li .img-gap .img-bg h3 {font-size: 16px;font-weight: 600;color: #fff;text-align: center;margin: auto 0;width: 100%;}



#wrap #footer {width:100%;height:100px;display:flex;position:relative;z-index:1;background: #e0e0e0;}
#wrap #footer .left  {width:180px;height:100px;display: flex;}
#wrap #footer .left h2 {width: 100%;margin: auto;}
#wrap #footer .left h2 a img {width: 100%;filter: grayscale(1);opacity: 0.7;}
#wrap #footer .right {width:1020px;height:100px;}
#wrap #footer .right .top    {width:100%;height:50px;text-align: center;line-height: 50px;}
#wrap #footer .right .top span {padding: 0 2px;}
#wrap #footer .right .top span a {color: #000;}
#wrap #footer .right .top span a:hover {color: #39c;}


#wrap #footer .right .bottom {width:100%;height:50px;text-align: center;line-height: 130%;}
#wrap #footer .right .bottom p {font-size: 11px;padding: 0 0 10px 0;}

#wrap #modal {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);z-index: 4;display: none;}
#wrap #modal .container {width: 800px;background: #fff;margin: 0 auto;position: relative;top: 50%;margin-top: -300px;}
#wrap #modal .container ul {padding: 30px;}
#wrap #modal .container ul li {line-height: 40px;border-bottom: 1px solid #ccc;display: flex;}
#wrap #modal .container ul li:first-child{border-top: 1px solid #000;line-height: 70px;background: #f4f4f4;}
#wrap #modal .container ul li h1 {font-size: 20px;font-weight: 600;color: #000;padding-left: 20px;}
#wrap #modal .container ul li span:nth-child(1) {display: block;width: 20%;background: #f4f4f4;text-align: center;}
#wrap #modal .container ul li span:nth-child(2) {display: block;width: 80%;padding-left: 20px;}
#wrap #modal .container ul li .contents {text-align: center;padding: 20px 0 30px 0;}
#wrap #modal .container ul li .contents h3 {font-size: 16px; font: 600;}
#wrap #modal .container ul li .contents .img-box {padding:10px;}
#wrap #modal .container ul li .contents .img-box img {width: 80%;}
#wrap #modal .container ul li:last-child{ border: 0;padding-top: 15px;display: block;text-align: center;}
#wrap #modal .container ul li .close-btn {width: 80px;height: 40px;border: 1px solid #ccc;cursor:pointer;}
#wrap #modal .container ul li .close-btn:hover{background:#fcfcfc;}